body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(islamic3.webp);
    color: #333;
}

header {
    color: black;
    padding: 20px;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
}

#image {
    text-align: center;
}

#one {
    color : black;
    text-align: center;
}
#verse {
    padding: 1em;    
    font-style: italic;
    text-align: center;
    background-color: lightgray;
    box-shadow: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
#form {
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
  }
  input[type=text], select, textarea{
    width: 50%;
    border: none;
    border-bottom: 1px solid;
  }

h2 {
    color: rgb(82, 120, 83);
}

p {
    line-height: 1.6;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(82, 120, 83);
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


